*.dni binary
Lang/* binary

# Handle GitHub workflows properly
.github/workflows/*.yml text eol=lf

# Source code files
*.c text
*.h text
*.rc text
*.md text

# Makefiles
Makefile* text
makefile* text
