#include <windows.h>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
IDD_ABOUTPAGE DIALOGEX 0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "About"
FONT 8, "Ms Sans Serif", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_ABOUT_BOX, 3,1, 212,105

    ICON            app_icon, IDC_STATIC, 15,15,0,0
    LTEXT           "",IDC_VERSION, 48, 15, 160,8
    EDITTEXT        IDC_URL, 48,25,160,10, ES_READONLY|NOT WS_BORDER
    LTEXT           "",IDC_AUTHOR, 10, 40, 200, 8
    LTEXT           "https://stefansundin.com/", 0, 10,50,200,10

    LTEXT           "Modified By Raymond Gillibert",0, 10, 65, 200, 8

    LTEXT           "", IDC_LICENSE,10, 80, 200, 20

    GROUPBOX        "",IDC_TRANSLATIONS_BOX,3,111,212,75
    EDITTEXT        IDC_TRANSLATIONS,10,120,200,60, ES_MULTILINE|ES_AUTOHSCROLL|ES_READONLY|WS_VSCROLL
END

/////////////////////////////////////////////////////////////////////////////
IDD_BLACKLISTPAGE DIALOG DISCARDABLE  0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Blacklist"
FONT 8, "Ms Shell Dlg"
BEGIN

    GROUPBOX    "", IDC_BLACKLIST_BOX,           3,1,212,140
    LTEXT       "", IDC_PROCESSBLACKLIST_HEADER, 10,11,200,8
    EDITTEXT    IDC_PROCESSBLACKLIST,10,20, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_BLACKLIST_HEADER,        10,36,200,8
    EDITTEXT    IDC_BLACKLIST,       10,45, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_SCROLLLIST_HEADER,         10,61,200,8
    EDITTEXT    IDC_SCROLLLIST,      10,70, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_MDISBL_HEADER,          10,86,200,8
    EDITTEXT    IDC_MDIS,            10,95,200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_PAUSEBL_HEADER,         10,111,200,8
    EDITTEXT    IDC_PAUSEBL,         10,120,200,14,ES_AUTOHSCROLL

    GROUPBOX    "", IDC_FINDWINDOW_BOX,          3,145,212,42
    ICON        IDI_FIND,         IDC_FINDWINDOW,  12,162,16,16, SS_NOTIFY|SS_REALSIZEIMAGE
    EDITTEXT    IDC_NEWRULE,      30,155,180,12,ES_AUTOHSCROLL
    EDITTEXT    IDC_NEWPROGNAME,  30,170,180,12,ES_AUTOHSCROLL
END

/////////////////////////////////////////////////////////////////////////////
IDD_GENERALPAGE DIALOGEX 0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "General"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX      "", IDC_GENERAL_BOX,3,1,212,132
    CONTROL       "",   IDC_AUTOFOCUS,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,12,200,18
    CONTROL       "",   IDC_AERO,          "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 30, 200,8
    CONTROL       "",   IDC_INACTIVESCROLL,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 40, 200,8
    CONTROL       "",   IDC_MDI,           "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 50, 200,8
    CONTROL       "",   IDC_FULLWIN,       "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 60, 200,8
    CONTROL       "",   IDC_RESIZEALL,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 70, 200,8

    GROUPBOX      "",   IDC_RESIZECENTER,  108,87, 104, 43
    RADIOBUTTON   "",   IDC_RZCENTER_NORM, 112,98,  95,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON   "",   IDC_RZCENTER_BR,   112,108, 95,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON   "",   IDC_RZCENTER_MOVE, 112,118, 95,8, WS_GROUP|WS_TABSTOP

    LTEXT         "",   IDC_AUTOSNAP_HEADER,10,82,95,8
    COMBOBOX      IDC_AUTOSNAP, 10,91 ,95,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT         "",   IDC_LANGUAGE_HEADER,10,105,95,8
    COMBOBOX      IDC_LANGUAGE, 10,115,95,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP|WS_VSCROLL

    GROUPBOX      "",   IDC_AUTOSTART_BOX ,3,135,212,43
    CONTROL       "",   IDC_AUTOSTART,        "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,145,200,8
    CONTROL       "",   IDC_AUTOSTART_HIDE,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,155,145,8
    CONTROL       "",   IDC_AUTOSTART_ELEVATE,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,165,145,8
    DEFPUSHBUTTON "",   IDC_ELEVATE, 157,160,55,14

    LTEXT         "",   IDC_AUTOSAVE,3,180,216,8

END

/////////////////////////////////////////////////////////////////////////////
IDD_MOUSEPAGE DIALOG DISCARDABLE  0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Mouse"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX  "", IDC_MOUSE_BOX,    3,1,212,135
    LTEXT     "", IDC_LMB_HEADER, 10,13,90,8
    COMBOBOX  IDC_LMB,   105,10,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MMB_HEADER, 10,27,90,8
    COMBOBOX  IDC_MMB,   105,24,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_RMB_HEADER, 10,41,90,8
    COMBOBOX  IDC_RMB,   105,38,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MB4_HEADER, 10,55,90,8
    COMBOBOX  IDC_MB4,   105,52,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MB5_HEADER, 10,69,90,8
    COMBOBOX  IDC_MB5,   105,66,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_SCROLL_HEADER,10,83,90,8
    COMBOBOX  IDC_SCROLL,105,80,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP

    CONTROL   "", IDC_LOWERWITHMMB,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE, 10,97,200,16
    CONTROL   "", IDC_ROLLWITHTBSCROLL, "Button",BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE, 10,115,200,16

    GROUPBOX  "", IDC_HOTCLICKS_BOX,  3,138,212,47
    CONTROL   "", IDC_MMB_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,150,80,10
    CONTROL   "", IDC_MB4_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,160,80,10
    CONTROL   "", IDC_MB5_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,170,80,10
    LTEXT     "", IDC_HOTCLICKS_MORE, 100,147,110,33
END

/////////////////////////////////////////////////////////////////////////////
IDD_KBPAGE DIALOG DISCARDABLE  0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Keyboard"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX    "", IDC_KEYBOARD_BOX,    3,1,212,100
    LTEXT       "", IDC_GRABWITHALT_H, 10,13,90,8
    COMBOBOX    IDC_GRABWITHALT,   105,10,105,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP

    CONTROL     "", IDC_AGGRESSIVEPAUSE,"Button", BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,30,200,16
    CONTROL     "", IDC_AGGRESSIVEKILL, "Button", BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,50,200,16

    GROUPBOX    "",    IDC_HOTKEYS_BOX,  3,105,212, 80
    LTEXT       "", IDC_TOGGLERZMVKEY_H, 10,117,150,8
    COMBOBOX    IDC_TOGGLERZMVKEY,   160,114,50,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    CONTROL     "", IDC_LEFTALT,    "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,130,60,10
    CONTROL     "", IDC_RIGHTALT,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,140,60,10
    CONTROL     "", IDC_LEFTWINKEY, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 71,130,72,10
    CONTROL     "", IDC_RIGHTWINKEY,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 71,140,72,10
    CONTROL     "", IDC_LEFTCTRL,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,145,130,65,10
    CONTROL     "", IDC_RIGHTCTRL,  "Button",BS_AUTOCHECKBOX|WS_TABSTOP,145,140,65,10

    CONTROL     "", IDC_KEYCOMBO,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,152,200,10
    LTEXT       "", IDC_HOTKEYS_MORE, 10,163,200,20
END

/////////////////////////////////////////////////////////////////////////////
IDD_ADVANCEDPAGE DIALOG DISCARDABLE  0, 0, 220, 190
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Advanced"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX  "", IDC_METRICS_BOX, 3,1,212,83
    LTEXT     "", IDC_CENTERFRACTION_H, 10,12,165,8
    EDITTEXT  IDC_CENTERFRACTION, 180, 10, 30, 12

    LTEXT     "", IDC_AEROHOFFSET_H, 10,25,90,8
    EDITTEXT  IDC_AEROHOFFSET, 100, 23, 30, 12
    RTEXT     "", IDC_AEROVOFFSET_H, 132,25,45,8
    EDITTEXT  IDC_AEROVOFFSET, 180, 23, 30, 12

    LTEXT     "", IDC_SNAPTHRESHOLD_H, 10,38,165,8
    EDITTEXT  IDC_SNAPTHRESHOLD, 180, 36, 30, 12
    LTEXT     "", IDC_AEROTHRESHOLD_H, 10,51,165,8
    EDITTEXT  IDC_AEROTHRESHOLD, 180, 49, 30, 12

    LTEXT     "", IDC_MOVETRANS_H, 10,65,90,8
    EDITTEXT  IDC_MOVETRANS, 100, 63, 30, 12

    DEFPUSHBUTTON   "",  IDC_TESTWINDOW, 138,63,73,14

    GROUPBOX  "", IDC_BEHAVIOR_BOX,  3,85,212,100
    CONTROL   "", IDC_MULTIPLEINSTANCES,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,100,200,8
    CONTROL   "", IDC_AUTOREMAXIMIZE,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,110,200,8
    CONTROL   "", IDC_NORMRESTORE,      "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,120,200,8
    CONTROL   "", IDC_AEROTOPMAXIMIZES, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,130,200,8
    CONTROL   "", IDC_AERODBCLICKSHIFT, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,140,200,8
    CONTROL   "", IDC_MAXWITHLCLICK,    "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,150,200,8
    CONTROL   "", IDC_RESTOREONCLICK,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,160,200,8
    CONTROL   "", IDC_FULLSCREEN,       "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,170,200,8
END

/////////////////////////////////////////////////////////////////////////////
// Cursor
IDI_FIND                CURSOR  DISCARDABLE     "media/find.cur"

/////////////////////////////////////////////////////////////////////////////
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FIND                ICON    DISCARDABLE     "media/find.ico"
