#include <windows.h>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
IDD_ABOUTPAGE DIALOGEX 0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "" // ABOUT
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "",IDC_ABOUT_BOX, 3,1, 212,105

    ICON            app_icon, IDC_STATIC, 15,15,0,0
    LTEXT           "",IDC_VERSION, 48, 15, 160,8
    EDITTEXT        IDC_URL, 48,25,160,10, ES_READONLY|NOT WS_BORDER
    LTEXT           "",IDC_AUTHOR, 10, 40, 200, 8
    LTEXT           "https://stefansundin.com/", 0, 10,50,200,10

    LTEXT           "Modified By Raymond Gillibert",0, 10, 65, 200, 8

    LTEXT           "", IDC_LICENSE,10, 80, 200, 20

    GROUPBOX        "",IDC_TRANSLATIONS_BOX,3,111,212,110
    EDITTEXT        IDC_TRANSLATIONS,10,120,200,95, ES_MULTILINE|ES_AUTOHSCROLL|ES_READONLY|WS_VSCROLL
END

/////////////////////////////////////////////////////////////////////////////
IDD_BLACKLISTPAGE DIALOG DISCARDABLE  0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "" // BLACKLIST
FONT 8, "Ms Shell Dlg"
BEGIN

    GROUPBOX    "", IDC_BLACKLIST_BOX,           3,1,212,138
    LTEXT       "", IDC_PROCESSBLACKLIST_HEADER, 10,11,200,8
    EDITTEXT    IDC_PROCESSBLACKLIST,10,20, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_BLACKLIST_HEADER,        10,36,200,8
    EDITTEXT    IDC_BLACKLIST,       10,45, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_SCROLLLIST_HEADER,         10,61,200,8
    EDITTEXT    IDC_SCROLLLIST,      10,70, 200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_MDISBL_HEADER,          10,86,200,8
    EDITTEXT    IDC_MDIS,            10,95,200,14,ES_AUTOHSCROLL
    LTEXT       "", IDC_PAUSEBL_HEADER,         10,111,200,8
    EDITTEXT    IDC_PAUSEBL,         10,120,200,14,ES_AUTOHSCROLL

    GROUPBOX    "", IDC_FINDWINDOW_BOX,          3,140,212,78
    ICON        IDI_FIND,         IDC_FINDWINDOW,  12,160,16,16, SS_NOTIFY|SS_REALSIZEIMAGE
    EDITTEXT    IDC_NEWRULE,      30,150,180,12,ES_AUTOHSCROLL
    EDITTEXT    IDC_NEWPROGNAME,  30,165,95,12,ES_AUTOHSCROLL
    RTEXT       "STYLE:", 0, 125,167,32,8
    EDITTEXT    IDC_GWLSTYLE,  160,165,50,12,ES_AUTOHSCROLL

    RTEXT       "WM_NCHITTEST:", 0, 10,183,60,8
    EDITTEXT    IDC_NCHITTEST,  72,180,25,12,ES_AUTOHSCROLL
    RTEXT       "In DWM Buttons:", 0, 10,197,60,8
    EDITTEXT    IDC_DWMCAPBUTTON,  72,195,25,12,ES_AUTOHSCROLL
    RTEXT       "EXSTYLE:", 0, 115,182,42,8
    EDITTEXT    IDC_GWLEXSTYLE,  160,180,50,12,ES_AUTOHSCROLL
    LTEXT       "RECT:", 0, 102,197,22,8
    EDITTEXT    IDC_RECT,  125,195,85,12,ES_AUTOHSCROLL
    LTEXT       "", IDC_WINHANDLES, 10,208,200,8
END

/////////////////////////////////////////////////////////////////////////////
IDD_GENERALPAGE DIALOGEX 0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "" // GENERAL
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX      "", IDC_GENERAL_BOX,3,1,212,172
    CONTROL       "",   IDC_AUTOFOCUS,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,12,203,18
    CONTROL       "",   IDC_AERO,          "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 30, 203,8
    CONTROL       "",   IDC_SMARTAERO,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 40, 203,8
    CONTROL       "",   IDC_SMARTERAERO,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 50, 203,8
    CONTROL       "",   IDC_STICKYRESIZE,  "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 60, 203,8
    CONTROL       "",   IDC_INACTIVESCROLL,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 70, 203,8
    CONTROL       "",   IDC_MDI,           "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 80, 203,8
    CONTROL       "",   IDC_RESIZEALL,     "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10, 90, 203,8
    CONTROL       "",   IDC_USEZONES,      "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,100, 203,8
    CONTROL       "",   IDC_PIERCINGCLICK, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,110, 203,8

    GROUPBOX      "",   IDC_RESIZECENTER,  108,120, 104, 50
    RADIOBUTTON   "",   IDC_RZCENTER_NORM, 112,130,  95,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON   "",   IDC_RZCENTER_BR,   112,140, 95,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON   "",   IDC_RZCENTER_MOVE, 112,150, 95,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON   "",   IDC_RZCENTER_CLOSE,112,160, 95,8, WS_GROUP|WS_TABSTOP

    LTEXT         "",   IDC_AUTOSNAP_HEADER,10,122,95,8
    COMBOBOX      IDC_AUTOSNAP, 10,131 ,95,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT         "",   IDC_LANGUAGE_HEADER,10,145,95,8
    COMBOBOX      IDC_LANGUAGE, 10,155,95,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP|WS_VSCROLL

    GROUPBOX      "",   IDC_AUTOSTART_BOX ,3,175,212,43
    CONTROL       "",   IDC_AUTOSTART,        "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,185,203,8
    CONTROL       "",   IDC_AUTOSTART_HIDE,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,195,145,8
    CONTROL       "",   IDC_AUTOSTART_ELEVATE,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,205,145,8
    DEFPUSHBUTTON "",   IDC_ELEVATE, 157,200,55,14
END

/////////////////////////////////////////////////////////////////////////////
IDD_MOUSEPAGE DIALOG DISCARDABLE  0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "" // MOUSE
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX  "", IDC_MOUSE_BOX,    3,1,212,168
    RADIOBUTTON "", IDC_MBA1,  10,10,60,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON "", IDC_MBA2,  75,10,60,8, WS_GROUP|WS_TABSTOP
    RADIOBUTTON "", IDC_INTTB, 140,10,60,8, WS_GROUP|WS_TABSTOP

    LTEXT     "", IDC_LMB_HEADER, 10,23,95,8
    COMBOBOX  IDC_LMB,   105,20,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MMB_HEADER, 10,37,95,8
    COMBOBOX  IDC_MMB,   105,34,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_RMB_HEADER, 10,51,95,8
    COMBOBOX  IDC_RMB,   105,48,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MB4_HEADER, 10,65,95,8
    COMBOBOX  IDC_MB4,   105,62,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_MB5_HEADER, 10,79,95,8
    COMBOBOX  IDC_MB5,   105,76,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_SCROLL_HEADER,10,93,95,8
    COMBOBOX  IDC_SCROLL,105,90,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_HSCROLL_HEADER,10,107,95,8
    COMBOBOX  IDC_HSCROLL,105,104,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP

    LTEXT     "", IDC_MOVEUP_HEADER,10,121,105,8
    COMBOBOX  IDC_MOVEUP,115,118,95,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT     "", IDC_RESIZEUP_HEADER,10,135,105,8
    COMBOBOX  IDC_RESIZEUP,115,132,95,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP

    GROUPBOX  "", IDC_TTBACTIONS_BOX,  6,145,206,21
    CONTROL   "", IDC_TTBACTIONSNA, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 12,155,95,8
    CONTROL   "", IDC_TTBACTIONSWA, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 112,155,95,8

    GROUPBOX  "", IDC_HOTCLICKS_BOX,  3,169,212,51
    CONTROL   "", IDC_MMB_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,178,80,10
    CONTROL   "", IDC_MB4_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,188,80,10
    CONTROL   "", IDC_MB5_HC,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,198,80,10
    CONTROL   "", IDC_LONGCLICKMOVE,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,10 ,208,203,10
    LTEXT     "", IDC_HOTCLICKS_MORE, 100,176,110,33
END

/////////////////////////////////////////////////////////////////////////////
IDD_KBPAGE DIALOG DISCARDABLE  0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "" // KEYBOARD
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX    "", IDC_KEYBOARD_BOX,    3,1,212,138
    LTEXT       "", IDC_GRABWITHALT_H, 10,13,90,8
    COMBOBOX    IDC_GRABWITHALT,   105,10,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT       "", IDC_GRABWITHALTB_H,10,27,90,8
    COMBOBOX    IDC_GRABWITHALTB,  105,24,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP

    CONTROL     "", IDC_SCROLLLOCKSTATE,"Button", BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,40,203,16
    CONTROL     "", IDC_UNIKEYHOLDMENU, "Button", BS_AUTOCHECKBOX|WS_TABSTOP|BS_MULTILINE,10,60,203,16

    LTEXT       "", IDC_SHORTCUTS_H,  10,82,90,8
    COMBOBOX    IDC_SHORTCUTS_AC, 105,80,105,160, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    RTEXT       "vKey:", 0,  60,98,20,8
    EDITTEXT    IDC_SHORTCUTS_VK, 85, 96, 16, 12
    LTEXT       "", IDC_SHORTCUTS, 104,98,55,8
    CONTROL     "", IDC_SHIFT,  "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,98,50,8
    CONTROL     "", IDC_CONTROL,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,112,50,8
    CONTROL     "", IDC_WINKEY, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 60,112,50,8
    CONTROL     "", IDC_ALT,    "Button",BS_AUTOCHECKBOX|WS_TABSTOP,110,112,50,8
    DEFPUSHBUTTON "", IDC_SHORTCUTS_PICK, 160, 95, 50, 13
    DEFPUSHBUTTON "", IDC_SHORTCUTS_CLEAR, 160, 109, 50, 13
    DEFPUSHBUTTON "", IDC_SHORTCUTS_SET, 160, 123, 50, 13
    CONTROL     "", IDC_USEPTWINDOW, "Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,125,150,8

    GROUPBOX    "",    IDC_HOTKEYS_BOX,  3,139,212, 80
    LTEXT       "", IDC_MODKEY_H, 10,152,150,8
    COMBOBOX    IDC_MODKEY,   160,149,50,120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    CONTROL     "", IDC_LEFTALT,    "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,165,60,8
    CONTROL     "", IDC_RIGHTALT,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,175,60,8
    CONTROL     "", IDC_LEFTWINKEY, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 71,165,72,8
    CONTROL     "", IDC_RIGHTWINKEY,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 71,175,72,8
    CONTROL     "", IDC_LEFTCTRL,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP,145,165,65,8
    CONTROL     "", IDC_RIGHTCTRL,  "Button",BS_AUTOCHECKBOX|WS_TABSTOP,145,175,65,8

    CONTROL     "", IDC_KEYCOMBO,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,187,203,8
    LTEXT       "", IDC_HOTKEYS_MORE, 10,197,203,20
END

/////////////////////////////////////////////////////////////////////////////
IDD_ADVANCEDPAGE DIALOG DISCARDABLE  0, 0, 220, 225
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "" // ADVANCED
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX  "", IDC_METRICS_BOX, 3,1,212,101
    LTEXT     "", IDC_CENTERFRACTION_H, 10,12,165,8
    EDITTEXT  IDC_CENTERFRACTION, 180, 10, 30, 12, ES_NUMBER

    LTEXT     "", IDC_AEROHOFFSET_H, 10,25,90,8
    EDITTEXT  IDC_AEROHOFFSET, 100, 23, 30, 12, ES_NUMBER
    RTEXT     "", IDC_AEROVOFFSET_H, 132,25,45,8
    EDITTEXT  IDC_AEROVOFFSET, 180, 23, 30, 12, ES_NUMBER

    LTEXT     "", IDC_SNAPTHRESHOLD_H, 10,38,165,8
    EDITTEXT  IDC_SNAPTHRESHOLD, 180, 36, 30, 12, ES_NUMBER
    LTEXT     "", IDC_AEROTHRESHOLD_H, 10,51,165,8
    EDITTEXT  IDC_AEROTHRESHOLD, 180, 49, 30, 12, ES_NUMBER
    LTEXT     "", IDC_SNAPGAP_H, 10,64,165,8
    EDITTEXT  IDC_SNAPGAP, 180, 62, 30, 12

    LTEXT     "", IDC_AEROSPEED_H, 10,76,130,8
    EDITTEXT  IDC_AEROSPEED, 140, 74, 30, 12, ES_NUMBER
    LTEXT     "/", 0, 172,76,10,8
    LTEXT     "", IDC_AEROSPEEDTAU, 178, 76, 20, 8, ES_READONLY
    LTEXT     "ms", 0, 195,76,10,8

    LTEXT     "", IDC_MOVETRANS_H, 10,90,100,8
    EDITTEXT  IDC_MOVETRANS, 110, 88, 25, 12, ES_NUMBER

    DEFPUSHBUTTON   "",  IDC_TESTWINDOW, 138,88,73,12

    GROUPBOX  "", IDC_BEHAVIOR_BOX,  3,103,212,122
    CONTROL   "", IDC_MULTIPLEINSTANCES,"Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,113,203,8
    CONTROL   "", IDC_AUTOREMAXIMIZE,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,123,203,8
    CONTROL   "", IDC_AEROTOPMAXIMIZES, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,133,203,8
    CONTROL   "", IDC_AERODBCLICKSHIFT, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,143,203,8
    CONTROL   "", IDC_MAXWITHLCLICK,    "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,153,203,8
    CONTROL   "", IDC_RESTOREONCLICK,   "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,163,203,8
    CONTROL   "", IDC_FULLSCREEN,       "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,173,203,8
    CONTROL   "", IDC_BLMAXIMIZED,      "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,183,203,8
    CONTROL   "", IDC_FANCYZONE,        "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,193,203,8
    CONTROL   "", IDC_NORESTORE,        "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,203,203,8
    CONTROL   "", IDC_TOPMOSTINDICATOR, "Button",BS_AUTOCHECKBOX|WS_TABSTOP, 10,213,203,8
END

/////////////////////////////////////////////////////////////////////////////
// Cursor
IDI_FIND                CURSOR  DISCARDABLE     "media/find.cur"

/////////////////////////////////////////////////////////////////////////////
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FIND                ICON    DISCARDABLE     "media/find.ico"
